USE [GXC]
GO
/****** Object:  Table [dbo].[LIBRO]    Script Date: 28/9/2020 23:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIBRO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_LIBRO] [varchar](150) NOT NULL,
	[DESCRIPCION] [varchar](300) NULL,
	[AUTOR] [varchar](150) NOT NULL,
	[FECHA_PUBLICACION] [date] NOT NULL,
	[NUMERO_EJEMPLARES] [int] NOT NULL,
	[COSTO] [decimal](18, 4) NOT NULL,
 CONSTRAINT [PK_LIBRO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LIBRO] ON 

INSERT [dbo].[LIBRO] ([ID], [NOMBRE_LIBRO], [DESCRIPCION], [AUTOR], [FECHA_PUBLICACION], [NUMERO_EJEMPLARES], [COSTO]) VALUES (1, N'LA REPUBLICA', N'LIBRO DE FILOSOFÍA', N'PLATÓN', CAST(N'1600-01-01' AS Date), 666, CAST(31.2566 AS Decimal(18, 4)))
INSERT [dbo].[LIBRO] ([ID], [NOMBRE_LIBRO], [DESCRIPCION], [AUTOR], [FECHA_PUBLICACION], [NUMERO_EJEMPLARES], [COSTO]) VALUES (2, N'MEMORIAS DE UN TRIUNFADOR', N'LIBRO HISTÓRICO SOBRE LA CARRERA DE ERNESTO GUERRA', N'ERNESTO GUERRA', CAST(N'2018-01-01' AS Date), 34, CAST(20.2356 AS Decimal(18, 4)))
SET IDENTITY_INSERT [dbo].[LIBRO] OFF
